.subpremiumContainer {
  /* padding: 20px 40px 20px 0px; */
}
.premiumCard {
  padding: 10px;
}
.premiumsubcard {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.premiumMainLabel {
  display: flex;
  width: 38%;
  font-size: 16px;
}
.premiumLabelStar {
  margin: 0px 20px;
}
.premiumField {
  display: flex;
  justify-content: start;
  width: 65%;
}
.premiumInput {
  margin-left: 30px;
  height: 31px;
  border: 1px solid black;
  border-radius: 5px;
}
.premiumDropdownContainer {
  padding-left: 30px;
}

.premiumTextareaContainer {
  margin-left: 25px;
}
.premiumTextArea {
  margin-top: 10px;
  border-radius: 5px;
}
.upload {
  margin-left: 30px;
}
