.viewContainer{
    margin-left:30px;
    margin-right:5px;
    border: solid black 1px;
    border-radius: 3px;
    padding-top:17px;
    padding-bottom:17px;
    padding-left: 98px;
    padding-right: 98px;
  }