.updateContainer {
  border: 1px solid black;
  margin: auto;
  width: 850px;
  height: 500px;
  margin-top: 20px;
}
.subUpdateContainer {
  padding: 20px 20px 20px 0px;
}
.mainCard {
  padding: 10px;
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.mainLabel {
  display: flex;
  width: 250px;
  font-size: 14px;
}
.labelStar {
  margin: 0px 20px;
}
.Field {
  display: flex;
  justify-content: start;
  width: 550px;
}
.input {
  margin-left: 30px;
  height: 31px;
  border: 1px solid black;
  border-radius: 5px;
}
.dropdownContainer {
  padding-left: 30px;
}
.buttonheader {
  display: flex;
  justify-content: end;
  margin-right: 10px;
  margin-top: -10px;
}
.policyButtonHeader {
  display: flex;
}
.textareaContainer {
  margin-left: 30px;
}
.textArea {
  border-radius: 5px;
}
.buttonPolicy {
  margin: 20px 0px 0px 40px;
}
.mymodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}